.spinner {
   width: 56px;
   height: 56px;
   border-radius: 50%;
   animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
   100% {
      transform: rotate(1turn);
   }
}
